@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.container{
    background: linear-gradient(135deg, #30022e, #0B1A4A);
    width: 100%;
    color: whitesmoke;
}


.loader {
    width: 60px;
    height: 60px;
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid rgba(66, 135, 245, 1); /* Customize color here */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }